html, body {
  height: 100%;
}

body {
  background-color: getColour(primary);
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
  padding-bottom: 150px !important;
}

main {
  padding-top: 25px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

header {
  height: 70px;
}

.box {
  height: 250px;
  width: 150px;
}

footer {
  padding: 20px;
}

.footer-text {
  margin: 5px !important;
}

@media (min-width: $mobile-width) {

  .wrapper {
    padding-bottom: 0;
  }

  header {
    height: 70px;
  }

  .box {
    height: 150px;
    width: 150px;
}
  
  footer {
    padding: 0;
    line-height: 44px;
  }

  .footer-text {
    margin: 0 !important;
  }
}


